/node_modules
/public/build
/public/mix-manifest.json
/public/hot
/public/storage
/public/admin/fontawesome
/storage
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
